In [1]:
import pandas as pd

In [12]:
df = pd.read_csv(r'C:\Users\mulka\OneDrive\Documents\Python Scripts\MyData.csv')
df.head(10)

,Module Description(s):,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,(1)LITECZTL 1997-01-01 (Class-Based),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(1)Constant Class: 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(2)LITECZTL 1997-01-01 (Class-Based) -1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(2)Constant Class: 55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$45,460.35",NaN,"$48,022.83",NaN,"$2,562.48",5.60%
7,﻿Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),NaN,(1)TotalCharge,(1)Comments,(2)TotalCharge,(2)Comments,$Difference,%Difference
8,Ontario,CA,91761,USA,AURORA,CO,80019,USA,50,19700,NaN,3668.14,R,3898.63,R,$230.49,6.30%
9,Ontario,CA,91761,USA,BURLEY,ID,83318,USA,50,700,NaN,229.39,R,243.81,R,$14.42,6.30%

In [13]:
# the first 7 rows are dummy rows and we can drop them

df = df.drop(df.index[0:7])
df.head(5)

,Module Description(s):,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
7,﻿Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),NaN,(1)TotalCharge,(1)Comments,(2)TotalCharge,(2)Comments,$Difference,%Difference
8,Ontario,CA,91761,USA,AURORA,CO,80019,USA,50,19700,NaN,3668.14,R,3898.63,R,$230.49,6.30%
9,Ontario,CA,91761,USA,BURLEY,ID,83318,USA,50,700,NaN,229.39,R,243.81,R,$14.42,6.30%
10,Ontario,CA,91761,USA,SALT LAKE CITY,UT,84104,USA,50,30100,NaN,4024.37,R,4277.21,R,$252.84,6.30%
11,Ontario,CA,91761,USA,TOLLESON,AZ,85353,USA,50,19700,NaN,2407.34,R,2460.53,R,$53.19,2.20%

In [15]:
# the first row (index 7) should actually be the column titles

df.columns = df.iloc[0]
df.head(3)

7,﻿Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),NaN,(1)TotalCharge,(1)Comments,(2)TotalCharge,(2)Comments,$Difference,%Difference
7,﻿Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),NaN,(1)TotalCharge,(1)Comments,(2)TotalCharge,(2)Comments,$Difference,%Difference
8,Ontario,CA,91761,USA,AURORA,CO,80019,USA,50,19700,NaN,3668.14,R,3898.63,R,$230.49,6.30%
9,Ontario,CA,91761,USA,BURLEY,ID,83318,USA,50,700,NaN,229.39,R,243.81,R,$14.42,6.30%

In [18]:
# creating a copy of the dataframe
df1 = df.copy()

In [20]:
# creating a dictionary to check index positions of each column

index_dic = {}
for col in df1.columns:
    index_dic[col] = df.columns.get_loc(col)
print(index_dic)

{'\ufeffOrigin City': 0, 'Origin State': 1, 'Origin Zip': 2, 'Origin Country': 3, 'Destination City': 4, 'Destination State': 5, 'Destination Zip': 6, 'Destination Country': 7, 'Freight Class': 8, 'Avg Weight (LBS)': 9, nan: 10, '(1)TotalCharge': 11, '(1)Comments': 12, '(2)TotalCharge': 13, '(2)Comments': 14, '$Difference': 15, '%Difference': 16}

In [21]:
# we can drop: 'nan', '(1)Comments', '(2)TotalCharge', '(2)Comments','$Difference','%Difference'

df1 = df1.drop(df1.columns[[10, 13, 14, 15, 16]], axis=1)
df1.head()

7,﻿Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),(1)TotalCharge,(1)Comments
7,﻿Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),(1)TotalCharge,(1)Comments
8,Ontario,CA,91761,USA,AURORA,CO,80019,USA,50,19700,3668.14,R
9,Ontario,CA,91761,USA,BURLEY,ID,83318,USA,50,700,229.39,R
10,Ontario,CA,91761,USA,SALT LAKE CITY,UT,84104,USA,50,30100,4024.37,R
11,Ontario,CA,91761,USA,TOLLESON,AZ,85353,USA,50,19700,2407.34,R

In [22]:
df1.columns.tolist()

['\ufeffOrigin City',
 'Origin State',
 'Origin Zip',
 'Origin Country',
 'Destination City',
 'Destination State',
 'Destination Zip',
 'Destination Country',
 'Freight Class',
 'Avg Weight (LBS)',
 '(1)TotalCharge',
 '(1)Comments']

In [23]:
df1 = df1.rename(columns={'\ufeffOrigin City': 'Origin City'})
df1.head()

7,Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),(1)TotalCharge,(1)Comments
7,﻿Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),(1)TotalCharge,(1)Comments
8,Ontario,CA,91761,USA,AURORA,CO,80019,USA,50,19700,3668.14,R
9,Ontario,CA,91761,USA,BURLEY,ID,83318,USA,50,700,229.39,R
10,Ontario,CA,91761,USA,SALT LAKE CITY,UT,84104,USA,50,30100,4024.37,R
11,Ontario,CA,91761,USA,TOLLESON,AZ,85353,USA,50,19700,2407.34,R

In [24]:
# removing the duplicate title column

df1 = df1.drop(df1.index[0])
df1.head(3)

7,Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),(1)TotalCharge,(1)Comments
8,Ontario,CA,91761,USA,AURORA,CO,80019,USA,50,19700,3668.14,R
9,Ontario,CA,91761,USA,BURLEY,ID,83318,USA,50,700,229.39,R
10,Ontario,CA,91761,USA,SALT LAKE CITY,UT,84104,USA,50,30100,4024.37,R

In [25]:
# checking that the re-name worked

df1.columns.tolist()

['Origin City',
 'Origin State',
 'Origin Zip',
 'Origin Country',
 'Destination City',
 'Destination State',
 'Destination Zip',
 'Destination Country',
 'Freight Class',
 'Avg Weight (LBS)',
 '(1)TotalCharge',
 '(1)Comments']

In [26]:
# checking data types

df1.dtypes

7
Origin City            object
Origin State           object
Origin Zip             object
Origin Country         object
Destination City       object
Destination State      object
Destination Zip        object
Destination Country    object
Freight Class          object
Avg Weight (LBS)       object
(1)TotalCharge         object
(1)Comments            object
dtype: object

In [27]:
# Total Charge and Avg Weight need to be changed to numeric values

df1['(1)TotalCharge'] = pd.to_numeric(df1['(1)TotalCharge'])
df1['Avg Weight (LBS)'] = df1['Avg Weight (LBS)'].astype(float)
df1.dtypes

7
Origin City             object
Origin State            object
Origin Zip              object
Origin Country          object
Destination City        object
Destination State       object
Destination Zip         object
Destination Country     object
Freight Class           object
Avg Weight (LBS)       float64
(1)TotalCharge         float64
(1)Comments             object
dtype: object

In [28]:
# Creating a new column that gives us the dry van shipping rate (the current rate is refrigerated truck, 
# so we divide that rate by 2 to get the rate for a dry van)

df1['Total Dry Van Rate'] = df1['(1)TotalCharge']/2
df1['Dry Van Rate per LB'] = df1['Total Dry Van Rate']/df1['Avg Weight (LBS)']
df1.head()

7,Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),(1)TotalCharge,(1)Comments,Total Dry Van Rate,Dry Van Rate per LB
8,Ontario,CA,91761,USA,AURORA,CO,80019,USA,50,19700.0,3668.14,R,1834.070,0.09310
9,Ontario,CA,91761,USA,BURLEY,ID,83318,USA,50,700.0,229.39,R,114.695,0.16385
10,Ontario,CA,91761,USA,SALT LAKE CITY,UT,84104,USA,50,30100.0,4024.37,R,2012.185,0.06685
11,Ontario,CA,91761,USA,TOLLESON,AZ,85353,USA,50,19700.0,2407.34,R,1203.670,0.06110
12,Ontario,CA,91761,USA,BULLHEAD CITY,AZ,86429,USA,50,2400.0,562.56,R,281.280,0.11720

In [29]:
# Getting the Refrigerated Truck cost per LB

df1['Reefer Rate per LB'] = df1['(1)TotalCharge']/df1['Avg Weight (LBS)']
df1.head()

7,Origin City,Origin State,Origin Zip,Origin Country,Destination City,Destination State,Destination Zip,Destination Country,Freight Class,Avg Weight (LBS),(1)TotalCharge,(1)Comments,Total Dry Van Rate,Dry Van Rate per LB,Reefer Rate per LB
8,Ontario,CA,91761,USA,AURORA,CO,80019,USA,50,19700.0,3668.14,R,1834.070,0.09310,0.1862
9,Ontario,CA,91761,USA,BURLEY,ID,83318,USA,50,700.0,229.39,R,114.695,0.16385,0.3277
10,Ontario,CA,91761,USA,SALT LAKE CITY,UT,84104,USA,50,30100.0,4024.37,R,2012.185,0.06685,0.1337
11,Ontario,CA,91761,USA,TOLLESON,AZ,85353,USA,50,19700.0,2407.34,R,1203.670,0.06110,0.1222
12,Ontario,CA,91761,USA,BULLHEAD CITY,AZ,86429,USA,50,2400.0,562.56,R,281.280,0.11720,0.2344

In [30]:
# doing a couple last checks to make sure the data is accurate

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 8 to 39
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Origin City          32 non-null     object
 1   Origin State         32 non-null     object
 2   Origin Zip           32 non-null     object
 3   Origin Country       32 non-null     object
 4   Destination City     32 non-null     object
 5   Destination State    32 non-null     object
 6   Destination Zip      32 non-null     object
 7   Destination Country  32 non-null     object
 8   Freight Class        32 non-null     object
 9   Avg Weight (LBS)     32 non-null     float64
 10  (1)TotalCharge       32 non-null     float64
 11  (1)Comments          32 non-null     object
 12  Total Dry Van Rate   32 non-null     float64
 13  Dry Van Rate per LB  32 non-null     float64
 14  Reefer Rate per LB   32 non-null     float64
dtypes: float64(5), object(10)
memory usage: 3.9+ KB

In [34]:
# checking for nulls

df1.isnull().any()

7
Origin City            False
Origin State           False
Origin Zip             False
Origin Country         False
Destination City       False
Destination State      False
Destination Zip        False
Destination Country    False
Freight Class          False
Avg Weight (LBS)       False
(1)TotalCharge         False
(1)Comments            False
Total Dry Van Rate     False
Dry Van Rate per LB    False
Reefer Rate per LB     False
dtype: bool

In [36]:
df1 = df1.rename(columns={'(1)TotalCharge': 'Total Reefer Rate', '(1)Comments': 'Output Truck Type'})
df1.columns.tolist()

['Origin City',
 'Origin State',
 'Origin Zip',
 'Origin Country',
 'Destination City',
 'Destination State',
 'Destination Zip',
 'Destination Country',
 'Freight Class',
 'Avg Weight (LBS)',
 'Total Reefer Rate',
 'Output Truck Type',
 'Total Dry Van Rate',
 'Dry Van Rate per LB',
 'Reefer Rate per LB']

In [38]:
df1.to_csv('Software Output.csv', index=True)